<section class="home-container">
  <div class="d-flex j-center ">
    <h1 class="d-flex font-title">GeldSpar</h1>
  </div>
  <div class="d-flex-col m0 a-center j-center">
    <%= link_to 'LOG IN', new_user_session_path, class: 'btn-seeming d-flex btn-login' %>
    <%= link_to 'SIGN UP', new_user_registration_path, class: 'btn-seeming d-flex' %>
  </div>
</section>